@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.section {
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 51px;
  }
}

.purpose_margin {
  margin-bottom: 96px;
}

.title {
  font-family: $bold-font;
  font-size: 41px;
  line-height: 57px;
  margin: 0 0 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 31px;
  }
}

.container {
  @include container;
  max-width: 1260px;
  padding: 0 45px;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

