@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.header {
  background-color: $background-white;
  min-height: 91px;
  padding-top: 25px;
  padding-bottom: 23px;

  @media (max-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 12px;
    min-height: 69px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 15px;
    padding-bottom: 5px;
    min-height: 48px;
  }
}

.wrapper {
  @include container;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 45px;
  max-width: 1260px;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.burger {
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  width: 30px;
  height: 25px;
  cursor: pointer;
  border: 0;
  background: 0 0;

  @media (max-width: $mobile-width) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    width: 16px;
    height: 1px;
    background-color: $basic-black;
    box-shadow: 0 5px 0 $basic-black,0 -5px 0 $basic-black;
  }
}

.logo {
  max-width: none;
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    width: 134px;
    height: 24px;
  }

  @media (max-width: $mobile-width) {
    width: 116px;
    height: 19px;
  }
}

.nav {
  flex-grow: 1;
  padding: 0 0 0 7.9%;

  @media (max-width: $tablet-width) {
    padding-left: 7.5%;
  }

  @media (max-width: $mobile-width) {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 45px 0 0;
    padding: 35px 15px;
    background-color: $background-white;
    overflow-y: auto;
    -webkit-box-flex: 1;
  }
}

.active {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.list {
  @include list-style-none;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  @media (max-width: $mobile-width) {
    flex-direction: column;

    & .login {
      padding-left: 30px;

      &::before {
        top: -5px;
        width: 20px;
        height: 22px;
      }
    }
  }
}

.item {
  margin-top: 10px;

  &:not(:last-child) {
    margin-right: 25px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 3px;

    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0;
    padding: 21px 21px 19px 15px;
    border-bottom: 1px solid $border-color;

    &:first-child {
      border-top: 1px solid $border-color;
    }
  }
}

.link {
  font-family: $regular-font;
  font-size: 16px;
  line-height: 19px;
  color: $basic-black;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 19px;
  }
}

.login {
  display: block;
  position: relative;

  font-family: $regular-font;
  font-size: 16px;
  line-height: 19px;
  color: $basic-black;

  padding-left: 30px;
  margin-top: 10px;
  margin-left: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 22px;
    background-image: url("../../assets/img/login.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet-width) {
    min-height: 22px;

    padding-left: 20px;
    margin: 0;

    & span {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 14px;
    margin-left: auto;

    font-size: 16px;
    line-height: 19px;

    &::before {
      width: 14px;
      height: 16px;
      background-size: contain;
    }
  }
}

.close_button {
  display: block;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: $button-black;
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}
